<!DOCTYPE html>
<html>
<head>
	<title>Hire New Teacher</title>
</head>
<body>
  <form action="/teacher" method="POST">
    <input type="text" name="name" placeholder="name">
    <input type="text" name="class" placeholder="class">
    <input type="text" name="credentialed" placeholder="credentialed">
    <button type="submit">Save</button>
  </form>

</body>
</html>